# SPDX-License-Identifier: MIT
---
- name: Call insights status
  include_tasks: check-insights-status.yml

- name: Unregister insights-client
  shell: insights-client --unregister & wait
  when:
    - >-
      "This host is registered" in __rhc_insights_status.stdout
      or "Registered" in __rhc_insights_status.stdout
  register: __rhc_insights_unregister_result
  changed_when: true
